<% layout("/layouts/boilerplate") %>
<body>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
    <h3>Edit listing </h3>
    <form method="POST" action="/listings/<%=listData._id %>?_method=PUT" novalidate class="needs-validation"
        enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label"></label>
            <input type="text" name="listing[title]" value = "<%= listData.title %>" placeholder="entere title" class="form-control" required>
            <div class="invalid-feedback">
                Please enter valid title.
            </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label"></label>
            <textarea type="text" name="listing[description]" placeholder="entere title" class="form-control"><%= listData.description %></textarea>
        </div>
        
        <div class="mb-3">
            <p>Previous Image </p>
            <img src="<%= orgImageUrl %>" alt="image_preview" style="width: 250px; height: auto;">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image </label>
            <input type="file" name="listing[image]"value="<%= listData.image.url %>" placeholder="entere image URL/Link" class="form-control">
            <div class="invalid-feedback">
                Please enter image url.
            </div>
        </div>
        
        <div class="mb-3">
                <div class="mb-3 col-md-3">
                    <label for="price" class="form-label"></label>
                    <input name="listing[price]" placeholder="enter price" value="<%= listData.price %>"type="number" class="form-control">
                    <div class="invalid-feedback">
                        Please enter valid Price.
                    </div>
                </div>

            </div>
        
        <div class="mb-3">
                    <div class="mb-3 col-md-9">
                        <label for="country" class="form-label"></label>
                        <input type="text" name="listing[country]" value="<%= listData.country %>" placeholder="enter country" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter valid title.
                        </div>
                </div>
        </div>
      
        
       <div class="mb-3">
        <label for="location" class="form-label"></label>
        <input type="text" name="listing[location]" value="<%= listData.location %>"placeholder="enter location" class="form-control" required>
        <div class="invalid-feedback">
            Please enter valid location.
        </div>
       </div>
        
        
        <br>
        <button class="btn btn-dark edit-btn-mt-3">Edit</button>
        <br> <br>
    </form>
</div>
</div>
</body>
<script src="/Js/script.js"></script>
